* {
  box-sizing: border-box;
  font-family: "DM Sans";
}

body {
    background-color:#1BBC9B;
}

.logo {
  font-weight: 700;
  font-size: 15px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: black;
}

.text-menu {
  font-size: 25px;
}

.btn-primary {
  margin-right: 5px;
  height: 35px;
  width: 60px;
  background-color: rgb(245, 239, 239);
  font-size: 12px;
  color: black;
  border: double !important;
}
.btn:hover {
  background-color: grey !important;
}

.btn-secondary {
  background-color: #cae4c3;
  font-size: 12px;
  width: 60px;
  color: black;
  border: double !important;
}

.heading {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  color: black;
}

.pic-expert {
  position: relative;
  margin-top:20px
}
.pic {
  position: absolute;
  top: -20px;
  right: -20px;
}

.seo {
  position: absolute;
  left:-40px
}

.subscribe{
    display:flex;
    box-sizing: border-box;
}

.subscribe input {
  width: 170px;
  height: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  border-radius: 5px 0px 0px 5px;
  border-width: 1px 0px 1px 1px;
  padding: 10px;
}
.btno button {
  width: 70px;
  height: 40px;
  background-color: #cae4c3;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  border-radius: 0px 5px 5px 0px;
  border-width: 1px 1px 1px 1px;
}


@media (min-width: 768px) {
  .logo {
    font-weight: 700;
    font-size: 25px;
  }
  .btn-primary {
    margin-right: 5px;
    height: 40px;
    width: 80px;
    background-color: rgb(245, 239, 239);
    font-size: 17px;
    color: black;
    border: double !important;
  }
  .btn-secondary {
    background-color: #cae4c3;
    font-size: 17px;
    width: 80px;
    height: 40px;
    color: black;
    border: double !important;
  }

  .heading {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    color: black;
  }
  .para-head {
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 47px;
    color: black;
  }
  .para {
    font-style: normal;
    font-weight: 350;
    font-size: 22px;
    line-height: 40px;
    color: black;
    width:70%
  }
  .subscribe {
    display: flex;
    align-items: center;
  }
  .subscribe input {
    width: 250px;
    height: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 42px;
    border-radius: 5px 0px 0px 5px;
    border-width: 1px 0px 1px 1px;
    padding: 20px;
  }
  .btno button {
    width: 100px;
    height: 50px;
    background-color: #cae4c3;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    border-radius: 0px 5px 5px 0px;
    border-width: 1px 1px 1px 1px;
  }

  .pic {
    position: absolute;
    left:20px;
  }
}
